
@font-face {
  font-family: 'Comforter Brush';
  src: url('assets/fonts/ComforterBrush-Regular.woff'),
  url('assets/fonts/ComforterBrush-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}