@import 'assets/fonts/stylesheet.scss';

body {
  font-family: 'Comforter Brush', sans-serif;
}

.spinner {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 100vh;
}
.form {
  &_game{

  }
  &-row {
    min-height: 100vh;
    margin-top: 2em;
  }
  &-title{
    text-align: center;
  }
}

