@import 'assets/fonts/stylesheet.scss';

body {
  font-family: 'Comforter Brush', sans-serif;
  background: #000;
  color: white
}

.pic{
  width: 100px;
  height: 100px;
  background-image: url("assets/images/zenutsu.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 1px solid white;
}