
@font-face {
  font-family: 'Comforter Brush';
  src: url('../public/assets/fonts/ComforterBrush-Regular.woff2'),
  url('../public/assets/fonts/ComforterBrush-Regular.woff');
  font-weight: normal;
  font-style: normal;
}